.group{
 
    width: 90%;
    margin: 5px auto;
    font-size: 1.5rem;
}

.group span{
    color: red;
    margin-bottom: 10px;
}
.group label{
    font-size: 1.8rem;
}

.group input{
    padding: 15px ;
    border-radius: 5px;
    border: 1px solid  #ced4da !important;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    outline: none;
}

.group__active button{
    padding: 12px 22px;
    font-size: 2em;
    border: 1px solid;
    color: white;
    background-color: var( --primary-color);
    cursor: pointer;
}

.group__active button:hover{
    background-color:rgb(162, 149, 149);
}
.group__active{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.group .check{
    height: 23px;
    width: 23px;
}
.kt{
    margin-top: 20px;
}

.group .pass{
    float: right;
    text-decoration: none;
}

.group .check{
    width: 20px;
    height: 20px;
}


/* Form Đăng ký */
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
  }
  
  .form-control:hover {
    border-color: #8aa09e;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    margin-left: 160px;
    padding: 12px 22px;
    font-size: 2em;
    border: 1px solid;
    color: white;
    background-color: var( --primary-color);
    cursor: pointer;
}

  
  .form-submit:hover {
    background-color: #b1bfbd;
  }
  
  .spacer {
    margin-top: 36px;
  }
