/* phần thân  */
.app__container1{
   
    background-color: #fff;
    height: auto;
    
}
/* danh mục */
.category-kd{
    margin-top: -25px;
    width: 13%;
    margin-left: 50px;
    margin-right: 3px;
    background-color :rgb(229, 235, 228);
}
.all-nd{
    width: 80%;
    height:100%;
    margin-top: -40px;
    
    
}

.title h1{
    text-align: center;
    padding: 60px;
    font-size: 5rem;
    font-weight: 400;
    color: rgb(38, 132, 76);
}
.title p{
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -10px;
    color: rgb(26, 128, 11);
    
}
.quantam{
    width: 1500px;
}

.quantam h2{
    text-align: center;
    padding: 10px;
    font-size: 3.5rem;
    font-weight: 400;
    color: rgb(38, 132, 76);
}

.luachon{
    width: 1200px;
    margin-left: 240px;
   
}

.luachon .color{
    background-color:rgb(68, 127, 72);
}

.quantam button{
    padding: 10px 15px;
    margin: 15px 40px ;
    font-size: 2rem;
    background-color: rgb(186, 230, 150);
    border: ridge #fff;
    cursor: pointer;
   
}

.quantam button:hover{
    background-color:rgb(68, 127, 72) ;
}

.kengang{
    width: 1200px;
    margin-left: 170px;
    border-top: 2px solid #bdbdbf;
    margin-top: 40px;

}

.tintuc{
   text-align: center;
   font-size: 2.8rem;
   font-weight: 400;
   color: rgb(8, 101, 56);
}

/* ảnh và nội dung */
.img-nd{
    width: 1200px;
    height: 430px;
    padding-top: 20px;
    margin-left: 200px;
    display: flex;
    margin-bottom: 20px;
    
}

.img1{
    width: 400px;
    height: 400px;
    /* margin-left: 30px; */
    margin-right: 30px;
}
.img2{
     margin-left: 27px;
     width: 400px;
     height: 400px;
}

.nd{
    width: 700px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    /* margin-left: 100px; */
    font-size: 1.8rem;
    font-weight: 100;
    background-color: rgb(186, 230, 150);   
}

.img-nd button{
    background-color: rgb(102, 160, 68);
    padding: 3px 10px;
    margin-top: 40px;
}

/* footer */
.footer-kd{
    padding-top: 40px;
    border-top: 4px solid rgb(136, 193, 89);
}