
@{
    ViewBag.Title = "ChamSocKhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Chamsockhachhang{
    <section class="cskh">
        <div class="help">
            <div class="content">
                <h2>Xin chào, chúng tôi có thể giúp gì được cho bạn ?</h2>
                <input type="text" placeholder="Nhập từ khóa(mã giảm giá,hủy đơn hàng,.....)">
                <div class="search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>

        <div class="question">
            <h2>Câu hỏi hàng đầu ?</h2>
            <div class="qs-content">
                <div class="left">
                    <ul>
                        <li>
                            <a href="#">Những lưu ý khi đặt hàng mùa dịch Covid-19</a>
                        </li>
                        <li>
                            <a href="#">Làm thế nào để sử dụng mã giảm giá</a>
                        </li>
                        <li>
                            <a href="#">Chính sách trả lại hàng của Shop hoạt động như thế nào ?</a>
                        </li>
                        <li>
                            <a href="#">Cảnh báo giả mạo Shop</a>
                        </li>
                        <li>
                            <a href="#">Làm như thế nào để hủy đơn đặt hàng ?</a>
                        </li>
                        <li>
                            <a href="#">Đăng kí tài khoản như thế nào ?</a>
                        </li>
                    </ul>
                </div>

                <div class="right">
                    <ul>
                        <li>
                            <a href="#">Làm thể nào để được giao hàng miễn phí ?</a>
                        </li>
                        <li>
                            <a href="#">Làm thế nào để kiểm tra và theo dõi đơn hàng ?</a>
                        </li>
                        <li>
                            <a href="#">Cẩm nang cho khách hàng mới </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="theme">
            <h2>Chủ đề</h2>
            <div class="theme-content">
                <div class="item">
                    <i class="fa fa-user"></i>
                    <p>Tài khoản của tôi</p>
                </div>
                <div class="item">
                    <i class="fa fa-user-edit"></i>
                    <p>Sửa thông tin </p>
                </div>
                <div class="item">
                    <i class="fa fa-shopping-cart"></i>
                    <p>Giỏ hàng</p>
                </div>
                <div class="item">
                    <i class="fa fa-money-bill-wave-alt"></i>
                    <p>Thanh toán</p>
                </div>
                <div class="item">
                    <i class="fa fa-gift"></i>
                    <p>Ưu đãi</p>
                </div>
                <div class="item">
                    <i class="fa fa-shipping-fast"></i>
                    <p>Giao & nhận hàng</p>
                </div>
                <div class="item">
                    <i class="fa fa-phone"></i>
                    <p>Liên hệ</p>
                </div>
                <div class="item">
                    <i class="fa fa-user-shield"></i>
                    <p>Bảo mật tài khoản</p>
                </div>
                <div class="item">
                    <i class="fa fa-comment-dots"></i>
                    <p>Chat với Shop</p>
                </div>
                <div class="item">
                    <i class="fa fa-ellipsis-h"></i>
                    <p>Chủ đề khác</p>
                </div>
            </div>
        </div>

        <div class="like-dis">
            <h2>Bạn vẫn cần trợ giúp ?</h2>
            <p>Shop luôn hỗ trợ khi nào bạn cần(24/7).</p>
            <p>Bạn có thể chọn trò chuyện ngay bên dưới.</p>
            <div class="btn">
                <button class="active" type="button">Trò chuyện ngay</button>
                <button type="button">Những lựa chọn khác</button>
            </div>

            <div class="l-d">
                <p>Trung tâm hộ trợ có giúp ích cho bạn ?</p>
                <div class="icon">
                    <i class="fa fa-thumbs-up like"></i>
                    <i class="fa fa-thumbs-down dis"></i>
                </div>

            </div>
        </div>
    </section>
}