
@{
    ViewBag.Title = "SucKhoeVaSacDep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section khoedep{
    <div class="all-nd">
        <div class="title">
            <h1>BÍ QUYẾT DƯỠNG DA</h1>
            <p>Bạn có biết làn da tiết nhiều dầu để bảo vệ chính mình</p>
            <p>trước các yếu tố gây mụn?</p>
        </div>
    </div>

    <div class="quantam">
        <h2>Bạn đang quan tâm đến:</h2>
        <div class="luachon">
            <button class="color">Tất cả chủ đề</button>
            <button>Hướng dẫn sử dụng sản phẩm</button>
            <button>Lời khuyên và bí quyết chăm sóc da</button>
            <button>Quy trình chăm sóc da</button>
            <button>Sự thật về làn da</button>
            <button>Thực đơn để có làn da khỏe đẹp</button>

        </div>
        <p class="kengang"></p>
        <p class="tintuc">Thông tin dành cho bạn</p>
        <p class="kengang"></p>
    </div>

    <div class="img-nd">
        <img class="img1" src="https://www.simpleskincare.com/sk-eu/content/dam/brands/simple/global_use/1083748-simple-7-tips-for-soothing-sensitive-skin-green-dress-ha.jpg" alt="">
        <div class="nd">
            <h3>7 tips giúp làm dịu da nhạy cảm</h3>
            <p>Làn da nhạy cảm dễ bị thương tổn. Nhưng chỉ cần một vài thay đổi nhỏ trong quy trình dưỡng da là bạn đã có thể làm dịu và bảo vệ làn da nhạy cảm của mình.</p>
            <p>1.Tẩy trang trước khi đi ngủ</p>
            <p>2.Chống nắng cho da nhạy cảm</p>
            <p>3.Uống nhiều nước</p>
            <button>Đọc thêm...</button>
        </div>
    </div>

    <div class="img-nd">
        <div class="nd">
            <h3>Quy trình chăm sóc da mỗi sáng</h3>
            <p>Khởi đầu một ngày mới rạng rỡ cùng lời khuyên của chúng tôi để tìm ra quy trình chăm sóc da mỗi sáng tốt nhất cho bạn.</p>
            <p>1. Bắt đầu quy trình chăm sóc da mỗi sáng một cách từ tốn</p>
            <p>2. Dành thời gian để rửa mặt giúp bạn tỉnh táo</p>
            <p>3. Tìm ra loại sữa rửa mặt tốt nhất cho bạn</p>
            <button>Đọc thêm...</button>
        </div>
        <img class="img2" src="https://www.simpleskincare.com/sk-eu/content/dam/brands/simple/global_use/1087377-simple-the-best-morning-skincare-routine-girl-with-mug-7.jpg.rendition.1700.650.jpg" alt="">

    </div>
}


