<div id="peaturedProducts">
    <p id="highlight">ĐIỆN THOẠI NỔI BẬT NHẤT</p>

    <div class="table">
        <div class="table_">
            <div class="sp_x2">
                <img src="~/Assets/Images/evo_block_product_banner_2.jpg" alt="">
                
            </div>
            <div class="list">
                <div class="sp_x1">
                    <img src="~/Assets/Images/637382656397324891-ip-12-mini-dd.jpg">
                    <h4>Iphone 12 Series</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637393169370871358-ip-11-dd-a26bd5ec-b31e-444d-8021-3bd4157d9e4e.jpg">
                    <h4>Iphone 11 Series</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637393169370716242-ip-xr-dd.jpg">
                    <h4>Iphone X/XS Max</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637230565234443213-ip-se-dd.jpg">
                    <h4>Iphone X/XR</h4>
                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/a233de7dca2fbff7bbc6f8476e6ba7bf-56e2b026-8f61-4973-a17a-5a75ba5ec444.jpg">
                    <h4>Iphone 8/8 Plus</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637148518773647407-ss-note10-lite-bac-dd.jpg">
                    <h4>Glaxy Note</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637311014035020378-ss-a01-core-do-dd.jpg">
                    <h4>Galaxy S</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637170935875912528-ss-s20-ultra-den-1.jpg">
                    <h4>Galaxy S</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637341201120370331-oppo-reno4-tim-dd-st.jpg">
                    <h4>Oppo Reno Series</h4>

                </div>
                <div class="sp_x1">
                    <img src="~/Assets/Images/637424982825011268-oppo-a12-dd-1.jpg">
                    <h4>Oppo A series</h4>

                </div>
            </div>
        </div>
    </div>


    <div id="product">
        
        <div class="sanpham">
            <div class="sp1">
                <img src="~/Assets/Images/iphone-12-pro-max-xanh-duong-new-600x600-600x600-d4f1f529-b76d-4a27-b5fb-671f597248f9.jpg" />
                <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
                <span> 33.590.000đ</span><br />
                <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
            </div>
            <div class="sp1">
                <img src="~/Assets/Images/oppo-reno5-trang-600x600-1-600x600.jpg" />
                <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
                <span> 33.590.000đ</span><br />
                <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
            </div>
            <div class="sp1">
                <img src="~/Assets/Images/600x600-crop-iphone-12-mini-128gb-xtmobile-c32e1960-40fd-414b-8144-fb8517a9de97.jpg" />
                <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
                <span> 33.590.000đ</span><br />
                <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
            </div>
            <div class="sp1">
                <img src="~/Assets/Images/637170935875912528-ss-s20-ultra-den-1.jpg" />
                <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
                <span> 33.590.000đ</span><br />
                <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
            </div>
            <div class="sp1">
                <img src="~/Assets/Images/galaxy-z-fold2-5g-1-da9cf703-d4eb-49c8-bb44-4b8c7a5d4c64.jpg"/>
                <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
                <span> 33.590.000đ</span><br />
                <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
            </div>
        </div>
    </div>


</div>
