<div id="product">
    <div class="tieude">IPHONE 12 CHÍNH HÃNG VN/A GIÁ TỐT</div>
    <div class="sanpham">
        <div class="sp1">
            <img src="~/Assets/Images/iphone-12-pro-max-xanh-duong-new-600x600-600x600-d4f1f529-b76d-4a27-b5fb-671f597248f9.jpg" />
            <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
            <span> 33.590.000đ</span><br />
            <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
        </div>
        <div class="sp1">
            <img src="~/Assets/Images/ban-phim-magic-keyboard-ipad-pro-11-mxqt2za-a-152520-0925240227100-600x600(1).jpg" />
            <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
            <span> 33.590.000đ</span><br />
            <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
        </div>
        <div class="sp1">
            <img src="~/Assets/Images/ban-phim-smart-keyboard-ipad-pro-11-us-apple-mu8g2-10-215904-600x600(1).jpg" />
            <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
            <span> 33.590.000đ</span><br />
            <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
        </div>
        <div class="sp1">
            <img src="~/Assets/Images/a233de7dca2fbff7bbc6f8476e6ba7bf-56e2b026-8f61-4973-a17a-5a75ba5ec444.jpg" />
            <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
            <span> 33.590.000đ</span><br />
            <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
        </div>
        <div class="sp1">
            <img src="~/Assets/Images/600x600-crop-iphone-12-mini-128gb-xtmobile-c32e1960-40fd-414b-8144-fb8517a9de97.jpg" />
            <p>Iphone 12 Pro Max 256GB Chính Hãng (VN/A)</p>
            <span> 33.590.000đ</span><br />
            <span id="khuyenmai">Giảm giá 10% khi mua kèm sản phẩm khác</span>
        </div>
    </div>
</div>

