
<div id="slider">
 
        <div class=" category">
            <ul>
                <li> <a heft="#"> Điện thoại</a></li>
                <li> <a heft="#"> Laptop</a></li>
                <li> <a heft="#"> Tablet</a></li>
                <li> <a heft="#"> Phụ kiện</a></li>
                <li> <a heft="#"> Âm thanh</a></li>
                <li> <a heft="#"> Đồng hồ</a></li>
                <li> <a heft="#"> Nhà thông minh</a></li>
                <li> <a heft="#"> Linh kiện PC</a></li>
                <li>Xem thêm...</li>
            </ul>
        </div>
        <div class=" side">
            <img src="~/Assets/Images/slider_3.jpg"  />
        </div>
        <div class="img3">
            <img src="~/Assets/Images/slider_6.jpg" />
            <img src="~/Assets/Images/slider_7.jpg" />
            <img src="~/Assets/Images/slider_8.jpg" />
        </div>  
</div>
<div class="text">
    <p>LiDRAR là gì? LiDRA Scanner là gì? Mà có thể khiếm Camera trên Iphone 12 và Iphone 12 Pro Max trở lên khác biệt đến vậy?</p>
</div>

