<div class="table">
    <div class="table_">
        <div class="dienthoai">
            <img src="~/Assets/Images/iphone.png" alt="">
            <h4>Điện thoại</h4>
            <li>12 sản phẩm</li>
        </div>
        <div class="list">
            <div class="loaikhac">
                <img src="~/Assets/Images/laptop.png">
                <h4>Laptop</h4>
                <li>10 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/tablet-computer.png">
                <h4>Tablet</h4>
                <li>11 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/speaker-73fa354a-a248-4c08-836f-cd13374624f3.png">
                <h4>Phụ kiện</h4>
                <li>0 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/tablet-computer.png">
                <h4>Âm thanh</h4>
                <li>5 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images//watch.png">
                <h4>Đồng hồ</h4>
                <li>5 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/house.png">
                <h4>Nhà thông minh</h4>
                <li>0 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/cpu.png">
                <h4>Linh kiện PC</h4>
                <li>0 sản phẩm</li>
            </div>
            <div class="loaikhac">
                <img src="~/Assets/Images/computer.png">
                <h4>Máy tính</h4>
                <li>1 sản phẩm</li>
            </div>
        </div>
    </div>
</div>
